head {
    background-color: #e8eeff;
}

body {
    background-color: #eef2fd;
    color: #333333;
    font-family: arial;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    /* background: #e8eeff; */
    
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}

.tabs {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

footer{
    color:#444444;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    /* margin: 16px; */
    padding: 16px;
}

h1 {
    font-size: 50px;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    margin-bottom: 12px;
}

div a {
    
    color: rgb(38, 58, 124);
    margin-right: 16px;
    text-decoration: none;
}

.thread {
    border-left: .5px solid #9999e9;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

.default {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

div {
    flex-grow: 1;
    padding: 16px 16px;
}


.content {
    background: #ffffff;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;

}